<p-table
  class="data-table"
  styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm planner-data-table"
  [value]="$missionPointsDataTable()"
  [columns]="rowConfig"
  [resizableColumns]="true"
  [reorderableColumns]="true"
  [scrollable]="true"
  [(selection)]="$selectionDataTable"
  selectionMode="single"
  columnResizeMode="expand"
  scrollHeight="flex"
  dataKey="id"
  editMode="row"
  (onRowReorder)="onUpdateTable()"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="min-width: 40px; width: 40px" pFrozenColumn></th>
      <th style="width: 120px" pFrozenColumn></th>
      <th style="min-width: 40px; width: 40px" pFrozenColumn>
        <div class="additional-data-container">#</div>
      </th>
      <th *ngFor="let col of columns" pResizableColumn>
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-editing="editing">
    @if (rowData.special === 'HOME') {
    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
      <td pFrozenColumn></td>
      <td pFrozenColumn>
        <app-planner-data-table-actions-field
          [editing]="editing"
          [hasDelete]="false"
          (edit)="onEditInitMissionPoint(index)"
          (save)="onEditSaveMissionPoint()"
          (cancel)="onEditCancelMissionPoint(index)"
        ></app-planner-data-table-actions-field>
      </td>
      <td pFrozenColumn>
        <div class="additional-data-container">
          <span>H</span>
        </div>
      </td>
      @for (col of homeRowConfig; track $index) {
      <td>
        @if (col.editable) {
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-planner-data-table-field
              [(value)]="rowData[col.field]"
              [field]="col.field"
            ></app-planner-data-table-field>
          </ng-template>
          <ng-template pTemplate="output">
            <span>{{ rowData[col.field] }}</span>
            @if(col.units; as units) {
            <span>{{ units }}</span>
            }
          </ng-template>
        </p-cellEditor>
        } @else {
        {{ rowData[col.field] }}
        }
      </td>
      }
    </tr>
    } @else {
    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" [pReorderableRow]="index">
      <td pFrozenColumn>
        <div class="additional-data-container">
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </div>
      </td>
      <td pFrozenColumn>
        <app-planner-data-table-actions-field
          [editing]="editing"
          (edit)="onEditInitMissionPoint(index)"
          (delete)="onDeleteMissionPoint(index)"
          (save)="onEditSaveMissionPoint()"
          (cancel)="onEditCancelMissionPoint(index)"
        ></app-planner-data-table-actions-field>
      </td>
      <td pFrozenColumn>
        <div class="additional-data-container">
          <span>{{ index }}</span>
        </div>
      </td>
      @for (col of columns; track $index) {
      <td>
        @if (col.editable) {
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-planner-data-table-field
              [(value)]="rowData[col.field]"
              [field]="col.field"
            ></app-planner-data-table-field>
          </ng-template>
          <ng-template pTemplate="output">
            <span>{{ rowData[col.field] }}</span>
            @if(col.units; as units) {
            <span>{{ units }}</span>
            }
          </ng-template>
        </p-cellEditor>
        } @else {
        {{ rowData[col.field] }}
        }
      </td>
      }
    </tr>
    }
  </ng-template>
</p-table>
