<p-table
  styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
  [value]="points"
  [columns]="columns"
  [scrollable]="true"
  [resizableColumns]="true"
  [reorderableColumns]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 50px"></th>
      <th *ngFor="let col of columns" pReorderableColumn>
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
    <tr [pReorderableRow]="index">
      <td>
        <span class="pi pi-bars" pReorderableRowHandle></span>
        <span>{{ index }}</span>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
