<app-mission-planner-page-layout>
  <app-planner-map
    ng-content-main-section
    [missionPoints]="$enrichedMissionPoints()"
    [selectedMissionPoint]="$selectedMissionPoint()"
    (markerAdded)="onMarkerAdded($event)"
    (markerClicked)="onSelectedMissionPoint($event)"
    (drop)="onDropMap($event)"
  ></app-planner-map>
  <app-planner-data-table
    ng-content-bottom-section
    [missionPoints]="$enrichedMissionPoints()"
    [selectedMissionPoint]="$selectedMissionPoint()"
    (updateTable)="onUpdateDataTable($event)"
    (selectMissionPoint)="onSelectedMissionPoint($event)"
  ></app-planner-data-table>
  <app-planner-toolbar ng-content-toolbar (drawMarker)="onDrawMarkerActivated()"></app-planner-toolbar>
</app-mission-planner-page-layout>
