:host {
  position: relative;
  isolation: isolate;

  #map {
    height: 100%;
  }

  .layers {
    position: absolute;
    top: var(--spacing-medium);
    left: var(--spacing-medium);
    z-index: 1000;
    width: 300px;
  }
}
