:host {
  overflow: auto;

  .data-table {
    min-width: 100%;

    tr {
      td {
        cursor: pointer;
      }
    }
  }

  .additional-data-container {
    display: flex;
    justify-content: center;
  }
}
